.navbar {
    background-color: var(--navy);
    color: var(--lightest-slate);
    font-family: 'NTR';
    font-weight: bold;
  }
  
  .navbar-brand {
    color: var(--lightest-slate) !important;
    font-size: 1.5rem;
    margin-left: 20px;
  }
  
  .navbar-nav {
    display: flex;
    align-items: center;

  }
  
  .nav-link {
    color: var(--lightest-slate) !important;
    font-size: 1.2rem;
    transition: color 0.3s ease;
    margin-left: 20px; 
  }
  
  .nav-link:hover {
    color: var(--green-bright) !important;
  }
  
  @media only screen and (max-width: 600px) {
    .navbar-brand {
      display: none;
    }
  
    .navbar-nav .nav-link {
      display: none;
    }
  }